// Colors
$black: #000000;
$white: #ffffff

// Fonts


// Mixins


/* Exemplo de criação de mixin

@mixin font-styling($color, $fonte-size, $font-weight) {
    color: $color;
    font-size: $fonte-size;
    font-weight: $font-weight;
}

*/