@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Exemplo de criação de mixin

@mixin font-styling($color, $fonte-size, $font-weight) {
    color: $color;
    font-size: $fonte-size;
    font-weight: $font-weight;
}

*/
/* Exemplo de criação de mixin

@mixin font-styling($color, $fonte-size, $font-weight) {
    color: $color;
    font-size: $fonte-size;
    font-weight: $font-weight;
}

*/
.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.25rem;
}
.content__logo {
  width: 100%;
  max-width: 55px;
}
.content__subtitle {
  color: hsl(0, 0%, 59%);
  font-size: 1.375rem;
  font-weight: "";
  margin-top: 2.75rem;
}
.content__subtitle .subtitle__efx {
  color: hsl(209, 33%, 12%);
  font-size: "";
  font-weight: 700;
}
.content__paragraph {
  color: hsl(209, 33%, 12%);
  font-size: 0.75rem;
  font-weight: "";
  margin-top: 1.5rem;
}
.content__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
.content__field .container__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.content__field .container__field .field__email {
  color: hsl(209, 33%, 12%);
  font-size: 0.75rem;
  font-weight: "";
  box-sizing: border-box;
  border: 1px solid hsl(225, 77%, 90%);
  border-radius: 1.375rem;
  max-width: 17.5625rem;
  width: 100%;
  height: 2.5rem;
  padding-left: 1.75rem;
}
.content__field .container__field .field__email::-moz-placeholder {
  color: hsl(225, 77%, 90%);
  font-size: 0.75rem;
  font-weight: "";
}
.content__field .container__field .field__email::placeholder {
  color: hsl(225, 77%, 90%);
  font-size: 0.75rem;
  font-weight: "";
}
.content__field .container__field .field__email:focus {
  box-shadow: 0 0 0 0;
  outline: 1px solid hsl(223, 87%, 63%);
}
.content__field .container__field .field__email:focus::-moz-placeholder {
  color: hsl(223, 87%, 63%);
}
.content__field .container__field .field__email:focus::placeholder {
  color: hsl(223, 87%, 63%);
}
.content__field .container__field .error-message {
  color: hsl(354, 100%, 66%);
  font-size: 0.75rem;
  font-weight: "";
  display: none;
  font-style: italic;
  margin-bottom: 24px;
}
.content__field .container__field .error-input {
  border: 1px solid hsl(354, 100%, 66%);
}
.content__field .container__field .error-input::-moz-placeholder {
  color: hsla(354, 100%, 66%, 0.534);
  font-size: "";
  font-weight: "";
}
.content__field .container__field .error-input::placeholder {
  color: hsla(354, 100%, 66%, 0.534);
  font-size: "";
  font-weight: "";
}
.content__field .container__field .error-input:focus {
  outline: none;
}
.content__field .container__field .error-input:focus::-moz-placeholder {
  color: hsl(354, 100%, 66%);
}
.content__field .container__field .error-input:focus::placeholder {
  color: hsl(354, 100%, 66%);
}
.content__field .field__btn {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: hsl(223, 87%, 63%);
  border: none;
  border-radius: 1.375rem;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px 1px rgba(77, 124, 243, 0.411);
  cursor: pointer;
  margin-top: 10px;
  max-width: 17.5625rem;
  width: 100%;
  height: 2.5rem;
  padding: 0;
}
.content__field .field__btn:hover {
  background-color: hsl(224, 87%, 70%);
}
.content__img {
  margin-top: 4.25rem;
  max-width: 40rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .content {
    margin-top: 5.375rem;
  }
  .content__logo {
    max-width: 5.375rem;
  }
  .content__subtitle {
    color: "";
    font-size: 3rem;
    font-weight: "";
    margin-top: 3.5rem;
  }
  .content__paragraph {
    color: "";
    font-size: 1.25rem;
    font-weight: "";
    margin-top: 1.5rem;
  }
  .content__field {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2.5rem;
  }
  .content__field .container__field {
    align-items: flex-start;
    gap: 0.625rem;
  }
  .content__field .container__field .field__email {
    color: "";
    font-size: 1rem;
    font-weight: "";
    max-width: 420px;
    height: 56px;
    border-radius: 1.75rem;
  }
  .content__field .container__field .field__email::-moz-placeholder {
    color: "";
    font-size: 1rem;
    font-weight: "";
  }
  .content__field .container__field .field__email::placeholder {
    color: "";
    font-size: 1rem;
    font-weight: "";
  }
  .content__field .container__field .error-message {
    position: relative;
    left: 2rem;
    margin-bottom: 0px;
  }
  .content__field .field__btn {
    color: "";
    font-size: 1rem;
    font-weight: "";
    border-radius: 1.75rem;
    margin-top: 0px;
    max-width: 12.5rem;
    height: 56px;
  }
  .content__img {
    max-width: 40rem;
    margin-top: 5.75rem;
  }
}
/* Exemplo de criação de mixin

@mixin font-styling($color, $fonte-size, $font-weight) {
    color: $color;
    font-size: $fonte-size;
    font-weight: $font-weight;
}

*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
}
.footer__social {
  display: flex;
  gap: 0.75rem;
}
.footer__social .social__icon {
  color: hsl(223, 87%, 63%);
  font-size: 1rem;
  font-weight: "";
  border: 1px solid hsl(225, 77%, 90%);
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social .social__icon:hover {
  background-color: hsl(223, 87%, 63%);
  color: #ffffff;
}
.footer__credit {
  color: hsl(0, 0%, 59%);
  font-size: 0.625rem;
  font-weight: 300;
  margin-top: 1.75rem;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 4.25rem;
    margin-bottom: 3rem;
  }
  .footer__credit {
    color: "";
    font-size: 0.75rem;
    font-weight: "";
  }
}
body {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  color: hsl(209, 33%, 12%);
  font-size: 1.25rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  width: 100%;
}/*# sourceMappingURL=base.css.map */