@import '../1-base/variaveis';

.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 90vh;
    margin-top: 5.25rem;

    &__logo {
        width: 100%;
        max-width: 55px;
    }

    &__subtitle {
        @include font-styling($gray, 1.375rem, '');
        margin-top: 2.75rem;

        .subtitle__efx {
            @include font-styling($veryDarkBlue, '', 700);
        }
    }

    &__paragraph {
        @include font-styling($veryDarkBlue, .75rem, '');
        margin-top: 1.5rem;
    }

    &__field {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 2rem;
        width: 100%;

        .container__field {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            width: 100%;

            .field__email {
                @include font-styling($veryDarkBlue, .75rem, '');
                box-sizing: border-box;
                border: 1px solid $lightBlue;
                border-radius: 1.375rem;

                
                width: 100%;
                height: 2.5rem;

                padding-left: 1.75rem;

                &::placeholder {
                    @include font-styling($lightBlue, .75rem, '');
                }

                &:focus {
                    box-shadow: 0 0 0 0;
                    outline: 1px solid $blue;
                    
                    &::placeholder {
                        color: $blue;
                    }
                }
            }

            .error-message {
                @include font-styling($lightRed, .75rem, '');
                display: none;
                font-style: italic;
                margin-bottom: 24px;
            }

            .error-input {
                border: 1px solid $lightRed;

                &::placeholder {
                    @include font-styling($lightRedMessage, '', '');
                }

                &:focus {
                    outline: none;

                    &::placeholder {
                        color: $lightRed;
                    }
                }
            }
        }

        .field__btn {
            @include font-styling($white, .75rem, 600);
            background-color: $blue;
            border: none;
            border-radius: 1.375rem;
            box-sizing: border-box;
            box-shadow: 0px 3px 10px 1px rgba(77, 124, 243, 0.411);
            cursor: pointer;

            margin-top: 10px;

            width: 100%;
            height: 2.5rem;

            padding: 0;

            &:hover {
                background-color: $buttonHoverBlue;
            }
        }

    }

    &__img {
        margin-top: 4.25rem;
        max-width: 40rem;
        width: 100%;
    }
}

.content__thank {
    margin: 0;
    height: 90vh;
}

@media screen and (min-width: 768px) {
    .content {
        margin-top: 5.375rem;

        &__logo {
            max-width: 5.375rem;
        }

        &__subtitle {
            @include font-styling('', 3rem, '');
            margin-top: 3.5rem
        }

        &__paragraph {
            @include font-styling('', 1.25rem, '');
            margin-top: 1.5rem;
        }

        &__field {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin-top: 2.5rem;

            .container__field {
                align-items: flex-start;
                gap: .625rem;

                .field__email {
                    @include font-styling('', 1rem, '');
                    max-width: 420px;
                    height: 56px;
                    border-radius: 1.75rem;

    
                    &::placeholder {
                        @include font-styling('', 1rem, '');
                    }
                }

                .error-message {
                    position: relative;
                    left: 2rem;
                    margin-bottom: 0px;
                }
            }

            .field__btn {
                @include font-styling('', 1rem, '');
                border-radius: 1.75rem;
                margin-top: 0px;
                max-width: 12.5rem;
                height: 56px;
            }
        }

        &__img {
            max-width: 40rem;
            margin-top: 5.75rem;
        }
    }

    .content__thank {
        margin: 0;
        height: 90vh;
    }
}