@import '../1-base/variaveis';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin-top: 7.5rem;
    margin-bottom: 3rem;
    // height: 10vh;

    &__social {
        display: flex;
        gap: .75rem;

        .social__icon {
            @include font-styling($blue, 1rem, '');
            border: 1px solid $lightBlue;
            border-radius: 50%;
            cursor: pointer;
            width: 2rem;
            height: 2rem;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }

    &__credit {
        @include font-styling($gray, .625rem, 300);
        margin-top: 1.75rem;
    }
}

.footer____thank {
    margin: 0;
    height: 0vh;
}

@media screen and (min-width: 768px) {
    .footer {
        margin-top: 4.25rem;
        margin-bottom: 3rem;

        &__credit {
            @include font-styling('', .75rem, '');
        }
    }

    .footer____thank {
        margin: 0;
        height: 0vh;
    }
}